.guide-route {
  padding: var(--spacing-6);
  max-width: 800px;
}

.guide-route-content {
  position: relative;
}

.guide-route-navigation {
  background-color: var(--color-neutral-1);
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.guide-route-filters {
  background-color: var(--color-neutral-1);
  position: absolute;
  padding: var(--spacing-4) var(--spacing-5);
  border: 1px solid var(--color-neutral-4);
  border-top: 0;
  left: 0;
  right: 0;
}
