.guide-route {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.guide-route-filters {
  position: relative;
}

.guide-route-filters > * {
  background-color: var(--color-neutral-1);
  position: absolute;
  padding: var(--spacing-4) var(--spacing-5);
  border: 1px solid var(--color-neutral-4);
  top: 0;
  left: 0;
  right: 0;
}

.guide-route-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.guide-route-guide {
  max-width: var(--max-page-width);
  padding: var(--spacing-6) 0;
}

@media only screen and (max-width: 800px) {
  .guide-route-content {
    padding: var(--spacing-2);
  }
}
