.guide-viewer {
  max-width: 800px;
  padding-bottom: var(--spacing-6);
  padding-top: var(--spacing-6);
}

.md-a {
  color: var(--color-primary-1);
  text-decoration: none;
}

.md-a:hover {
  color: var(--color-primary-1);
  text-decoration: underline;
}

.md-table {
  border-collapse: collapse;
}

.md-table th,
.md-table td {
  border: 1px solid var(--color-neutral-6);
  padding: var(--spacing-2);
  vertical-align: top;
}
