.text-h1 {
  font-family: var(--font-heading);
  font-size: 2em;
  color: var(--color-neutral-8);
}

.text-h2 {
  font-family: var(--font-heading);
  font-size: 1.8em;
  color: var(--color-neutral-8);
}

.text-h3 {
  font-family: var(--font-heading);
  font-size: 1.6em;
  color: var(--color-neutral-8);
}

.text-h4 {
  font-family: var(--font-heading);
  font-size: 1.4em;
  color: var(--color-neutral-8);
}

.text-h5 {
  font-family: var(--font-heading);
  font-size: 0.9em;
  color: var(--color-neutral-8);
  text-transform: uppercase;
}

.text-t1 {
  font-family: var(--font-text);
  font-size: 1em;
  color: var(--color-neutral-8);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
